<html>
<head></head>
<body>

Un Cordial Saludo! <br><br> haga click en el siguiente enlace para activar su cuenta <br><br> <a href="{{urlFrontend}}/auth?code={{code}}&type=activateAccount" target="_blank">Verificar cuenta!</a> <br><br> Gluck.

</body>
</html>
