<html>
<head></head>
<body>

Un Cordial Saludo! <br><br> haga click en el siguiente enlace para recuperar su clave <br><br> <a href="{{urlFrontend}}/auth?code={{code}}&type=recoveryPassword" target="_blank">Recuperar Clave!</a> <br><br> Gluck.

</body>
</html>
